.dashboard {
  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;

    .button {
      margin: .5rem 0;
      min-width: 140px;
      &:not(:last-child):not(.is-fullwidth) {
        margin-right: 0.5rem;
      }
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-card {
    margin: 1rem;
    min-width: 200px;
  }
}
